#Question 1

In [2]:
first_name = input("Enter first _name: ")
last_name = input("Enter your last _name: ")

res= print (last_name+ " " + first_name)

Enter first _name: moatez mathlouthi
Enter your last _name: 123
123 moatez mathlouthi

#Question 2

In [3]:
#x=int(input ("n="))
#res= ((x +((x)*(11)))+((x)*(111)))
#print (res)

In [4]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 5
615

#Question 3

In [5]:
i= int(input("number="))
if (i % 2 == 0):
    print(i, "is even number")
else:
    print(i, "is odd number")

number=6
6 is even number

#Question 4

In [36]:
nl=[]
for x in range(2000, 3200):
    if (x%7==0) and (x%5!=0):
        nl.append(str(x))
print (','.join(nl))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

#Question 5

In [15]:
while True:
	n=int(input("saisir la valeur de n: "))
	if n >= 0:
		break
if n == 0:
	print("la factorielle de 0 est : 1 ")
else:
	f = 1
	for i in range(2,n+1):
		f = f * i
print("la factorielle de " , n , " est : " , f)

saisir la valeur de n: 8
la factorielle de  8  est :  40320

#Question 6

In [12]:
str1 = input("Please Enter your Own String : ")

str2 = ''
i = 0

while (i < len(str1)):
	if (i % 2 == 0):
		str2 = str2 + str1[i]
	i = i + 1

print("String :  ", str1)
print("the result should be : ", str2)

Please Enter your Own String : hello team
String :   hello team
the result should be :  hlota

#Question 7

In [13]:
k = (int(input("k= ")))
if k>= int(500):
	print("50% discount: " , k*0.5)
elif k >= 200 and k <= 500:
	print("30% discount: ", k * 0.7)
elif k < 200 :
	print("10% discount: ", k * 0.9)

k= 500
50% discount:  250.0